<!DOCTYPE html>
<html>
	<head>
		<title>CatMash</title>
		<link rel="stylesheet" href="./css/index.css" />
		<link rel="stylesheet" href="./css/vote.css" />
	</head>

	<body>
		<%- include('header', { text: "CatMash"}); %>

		<div id="images_div">
			<form method="GET">
				<a class="no_select" href="/?vote=<%= leftCat.id %>">
					<img class="image" src="<%= leftCat.url %>" width="300px" height="300px" />
				</a>

				<a class="no_select" href="/?vote=<%= rightCat.id %>">
					<img class="image" src="<%= rightCat.url %>" width="300px" height="300px" />
				</a>
			</form>
		</div>
		

		<div id="classement_div">
			<a class="no_select" href="/classement">
				<button id="classement_button">Classement</button>
			</a>
		</div>
	</body>
</html>